@{
  Layout = "_LayoutDetails";
}

<div class="jumbotron">
  <h1>@Model["stylist"].GetName()'s Details</h1>
</div>
<form action="/stylists/@Model["stylist"].GetId()/client/add" method="post">
  <div class="form-group">
    <input type="hidden" id="stylistId" name="stylistId" value=@Model["stylist"].GetId()>
    <label for="clientName">Add Client: </label>
    <input type="text" id="clientName" class="form-control" name="clientName">
  </div>
  <button type="submit" class="btn btn-info">Add Client</button>
</form>
<br>
<div class="table-container">
  <table class="table stylist-table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID #</th>
        <th scope="col">Client Name</th>
        <th scope="col">Edit Client</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var client in Model["stylist"].GetClients())
      {
        <tr>
          <th scope="row">@client.GetId()</th>
          <td>@client.GetName()</td>
          <td><button class="btn btn-primary" id="editClientButton" data-toggle="modal" data-target="#@client.GetId()" data->Edit Details</button></td>
          <td><a href="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/delete" class="btn btn-danger">Delete</a></td>
        </tr>

        <div class="modal-container">
          <div class="modal fade" id=@client.GetId() tabindex="-1" role="dialog" aria-labelledby="editClientLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editClientLabel">Edit Details for @client.GetName()</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/edit" method="post">
                    <div class="form-group">
                      <label for="clientName">Client Name: </label>
                      <input type="text" id="clientName" class="form-control" name="clientName" value=@client.GetName()>
                    </div>
                    <label for="newStylist">Stylist: </label>
                    <select name="newStylist">
                      @foreach (var stylist in Model["list"])
                      {
                        <option value=@stylist.GetId()>@stylist.GetName()</option>
                      }
                    </select>
                    <br>
                    <button type="submit" class="btn btn-info">Edit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </tbody>
  </table>
</div>